<div class="wallpaper">
    <form [formGroup]="myForm" >
        <div class="card">
            <header>
                <h2>Coming Form</h2>
                <p>Enter your information here</p>
            </header>
            <br>
            <div>
                <!-- input firstname -->
                <span class="input-item">
                    <i>Firstname</i>
                </span>
                <input class="form-input"  id="firstName" type="text" placeholder="Firstname" formControlName="firstName" required>
                    <!-- check invalid -->
                    <div *ngIf="myForm.controls['firstName'].invalid && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)" class="alert">
                        <div *ngIf="myForm.controls['firstName'].errors" class="text-danger">
                            Firstname is required.
                        </div>
                    </div>
                <br>
                <!-- input surname -->
                <span class="input-item">
                    <i>Surname</i>
                </span>
                <input class="form-input" type="text" placeholder="Surname" formControlName="surName" required>
                    <!-- check invalid -->
                    <div *ngIf="myForm.controls['surName'].invalid && (myForm.controls['surName'].dirty || myForm.controls['surName'].touched)" class="alert">
                        <div *ngIf="myForm.controls['surName'].errors" class="text-danger">
                            Surname is required.
                        </div>
                    </div>
                <br>
                <!-- input ages -->
                <span class="input-item">
                    <i>Ages</i>
                </span>
                <input class="form-input ages" type="number" placeholder="Ages" formControlName="ages" required>
                    <!-- check invalid -->
                    <div *ngIf="myForm.controls['ages'].invalid && (myForm.controls['ages'].dirty || myForm.controls['ages'].touched)" class="alert">
                        <div *ngIf="myForm.controls['ages'].errors" class="text-danger">
                            Ages is required.
                        </div>
                    </div>
                <br><br>
                <!-- dropdown year -->
                <div class="select-dropdown">
                    <select  name="years" id="years" formControlName="year" required>
                        <option value="">Year...</option>
                        <option value="1">Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                    </select>
                </div>
                    <!-- check invalid -->
                    <div *ngIf="myForm.controls['year'].invalid && (myForm.controls['year'].dirty || myForm.controls['year'].touched)" class="alert">
                        <div *ngIf="myForm.controls['year'].errors" class="text-danger">
                            Year is required.
                        </div>
                    </div>
                <br>
                <!-- input university -->
                <span class="input-item">
                    <i>University</i>
                </span>
                <input class="form-input" type="text" placeholder="University" formControlName="university" required>
                    <!-- check invalid -->
                    <div *ngIf="myForm.controls['university'].invalid && (myForm.controls['university'].dirty || myForm.controls['university'].touched)" class="alert">
                        <div *ngIf="myForm.controls['university'].errors" class="text-danger">
                            University is required.
                        </div>
                    </div>
                <br><br>
                <!-- input facebook -->
                <span class="input-item">
                    <i>Line</i>
                </span>
                <input class="form-input" type="text" placeholder="URL" formControlName="facebook">
                <br><br>
                <button type="button" class="btn-sub" [disabled]="myForm.invalid" [routerLink]="['/info']" (click)="onSubmit()">Submit</button>                
            </div>
        </div>
    </form>
</div>
