/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
    margin: 0 auto;
}
header{
    margin: 5% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
header p{
    letter-spacing: 0.05em;
}
.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 2px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    height: 50px;
    width: 450px !important;
}
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}
.item{
    align-items: center;
    padding:10px;
}
.fb{
    display: flex;
    justify-content: center;
}
.info-card{
    background-color: #fff;
    color: #333;
    padding: 14.5px 2px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    height: 380px;
}
.form-input{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}
.ages{
    width: 270px;
}

#years{
    margin-left: 10px;
    font-style: italic;

}
.text-danger{
    color: red;
    font-style: italic;
}
button {
    display: inline-block;
    color: #252537;
    width: 300px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 10% auto;
    letter-spacing: 0.05em;
}
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}
.wallpaper{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
form,.info {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 5%;
    background-image: linear-gradient(-230deg, #E3FDF5 50%, #FFE6FA 50%);

}
.img-facebook{
    margin-top: 30px;
    width: 75px;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 320px;
}
.select-dropdown {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}