<div class="wallpaper">
    <div class="info">
        <div class="card">
            <header>
                <h2>Coming Form</h2>
                <p>Your information here</p>
            </header>
            <br>
        </div>
        <div class="info-card">
            <div>
                <span class="item">
                    <i>Firstname : {{info?.firstName}}</i>
                </span>
                <br><br>
                <span class="item">
                    <i>Surname : {{info?.surName}}</i>
                </span>
                <br><br>
                <span class="item">
                    <i>Ages : {{info?.ages}}</i>
                </span>
                <br><br>
                <span class="item">
                    <i>Year : {{info?.year}}</i>
                </span>
                <br><br>
                <span class="item">
                    <i>University : {{info?.university}}</i>
                </span>
                <br><br>
                <span class="item fb" *ngIf="info?.facebook != ''">
                    <a href="{{info?.facebook}}" target="_blank"><img src="../../assets/Facebook.png" class="img-facebook" alt="Facebook"></a>
                </span>
            </div>
            <button type="button" class="btn-sub"  [routerLink]="['/']" >Back</button>                

        </div>
    </div>
</div>